body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.border-none{
  border: none
}
.border-right-none{
  border-right: none !important;
}
.display-flex{
  display: flex;
}
.app-container{
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  width: 400px;
  border: 1px solid #f5f5f5;
  margin: 22px auto;
  height: 362px;
}
.list-container{
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  text-align: left;
  border-bottom: 1px solid #d5d5d5;
}
.list-images{
  border: 1px solid #d5d5d5;
  padding: 4px 10px;
  border-radius: 4px;
  height: 22px;
  cursor: pointer;
}
.list-images.delete{
  margin-left: 8px;
}
.search-input{
  width: 94%;
  border: none;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  padding: 16px 12px;
  outline: none;
}
.friend-list-header{
  background: #dfdfdf;
  text-align: left;
  padding: 12px;
}
.pagination-container{
  display: flex;
  justify-content: center;
}
.pagination-section{
  border: 1px solid #d5d5d5;
  width: fit-content;
  border-radius: 4px;
}
.page-details{
  border-right: 1px solid #d5d5d5;
  padding: 8px;
  cursor: pointer;
}
.page-number{
  padding: 10px 16px;
}
.modal {
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  box-shadow: 5px 5px 10px rgba(0,20,60,.1);
  z-index: 10;
  position: fixed;
  background-color: #ffff;
}
.modal-close{
  position: absolute;
  right: 15px;
  top: 6px;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  border: none;
  background: #ffff;
  outline: none;
  cursor: pointer;
}
.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgb(0,0,0,0.2);
}

.btn-container{
  display: flex;
  justify-content: flex-end;
}

.btn-primary{
  padding: 6px 20px;
  border: none;
  background: #1862FD;
  color: #ffff;
  border-radius: 4px;
  outline: none;
  border: 1px solid #1862FD;
  cursor: pointer;
}

.btn-cancel{
  margin-right: 8px;
  background: #ffff;
  border: none;
  color: #1862FD;
  font-weight: bold;
  cursor: pointer;
}
.sorting-container{
  width: 400px;
  margin: 22px  auto;
  display: flex;
  justify-content: flex-end;
}
.friend-tag{
  color: #bda2a2;
  font-size: 14px;
  padding-top: 4px;
}